  
@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h1>Authentication with Identity</h1>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
        <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
        <input type="submit" class="btn btn-dark" value="Log out" />
    }
}
else
{
    <div class="container">
        <img src="~/img/friends.png">
        <p>@Html.ActionLink("Register", "Register")</p>
        <p>@Html.ActionLink("Log in", "Login")</p>
    </div>
}